:root {
  --primary-color: #f8e5f8;
}

body {
  background-color: var(--primary-color);
}

.App {
  font-family: "Kaushan Script", cursive;
  text-align: center;
}

input {
  padding: 1rem;
  width: 70%;
  border-radius: 1.1rem;
  border-color: black;
}

.meaning {
  font-size: 1.2rem;
  margin: 1.2rem;
  font-weight: bold;
}

.databaseEmojiContainer {
  max-width: 60%;
  margin: auto;
}
